bin/assets/
run/
bin/
libs/
build/
eclipse/
logs/
mods/
libs/
saves/
.gradle/
.settings/
server.properties 
run/screenshots/
.metadata/
.settings/
.classpath
.project
options.txt
usernamecache.json
crash-reports/
*.fdx
*.fnm
*.tis
.recommenders/
.gitattributes
*.launch
*.lnk
*.jks
secret.properties
